body, html {
    scroll-behavior: smooth;
    position: relative;
}

.anchor{
  position: relative;
  left: 0px;
  top: -70px;
}

.clear:after{
	content: "";
	clear: both;
	display: block;
}

/* The hero image */
#home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/landing.jpeg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

/* Hero Text */
.hero-text {
  font-family: 'Oxygen', sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba();
  -webkit-animation-name: appear; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1.2s; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation-name: appear;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
-webkit-@keyframes appear  {
  from {opacity: 0; top: 25%}
  to {opacity: 1; top:45%}
}

@keyframes appear  {
  from {opacity: 0; top: 25%}
  to {opacity: 1; top: 45%}
}


.hero-text > hr{
	background-color: white;
}

/*Down Arrow*/
#down-arrow{
	text-align: center;
	position: absolute;
	bottom: 0%;
	left: 50%;
	font-size: 5rem;
	background-color: rgba();
	transform: translateX(-50%);
}

#down-arrow > a{
	color: white;
}


/*Nav Landing Page*/
.home-nav{
	float: right;
	color: white;
	font-size: 1.5rem;
	display: none;
}

.home-nav > a{
	color: white;
	text-decoration: none;
	padding: 0 5px;
	text-align: center;
}

.home-nav > a:hover{
	color: white;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
color: #fff;
background-color: #337ab7;
}

/*About Me page*/

.aboutMe{
  position: relative;
	background-color: #f3f3f3;
	padding: 30px 20px 0px; 
}

#about-photo{
  display: block;
  margin: 0 auto;
  width: 70%;
  border-radius: 20px;
}


/*Skills*/
.skills{
  padding:  150px 30px 20px;
  background-color: #f3f3f3;
}

.skillCircle{
  text-align: center;
}

.category{
  text-decoration: underline; 
}

.wide{
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.3em;
}

.pie {
  margin: 20px auto;
  width: 150px; 
  height: 150px;
  border-radius: 50%;
  background: #cc4020;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(to right, transparent 50%, #919191 0);
}

@keyframes spin {
  to { transform: rotate(.5turn); }
}

@keyframes bg {
  50% { background: #919191; }
}

.pie::before {
  content: '';
  display: block;
  margin-left: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  background-color: inherit;
  transform-origin: left;
  animation: spin 50s linear infinite,
             bg 100s step-end infinite;
  animation-play-state: paused;
  animation-delay: inherit;
}
.circle {
  width: 100px; 
  height: 100px;
  border-radius: 50%;
  background: white;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#html{
  background-color: #cc4020;
}

#css{
  background-color:  #1e74ff;
}

#javascript{
  background-color:  #ffa500;
}

#php{
  background-color:  #6b42f4;
}

#mySQL{
  background-color: #42f4f4;
}

#mongodb{
  background-color: #17c600;  
}

#laravel{
  background-color:  #ff542d;
}

#express{
  background-color:  #a208d6;
}


/*Projects*/
.projects {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/timeline.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  color: white;
  padding: 30px 20px;
}

code{
  font-size: 1.2em;
}
.column{
  position: relative;
}

a[target="_blank"]{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 10px; 
}

.image{
  display: block;
  margin: 20px auto;
  width: 100%;
}
.capstoneDescription{
  margin-bottom: 50px;
}

.capstoneDescription > h5{
  text-decoration: underline;
}


/*Contact page*/

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

textarea{
  resize: none;
}

.contactDetails{
  font-size: 1.5em;
}


.center{
  padding-top: 30px;
  margin: 0 auto;
  width: 100%;
}

/*Footer*/

footer{
  position: absolute;
  bottom: -80px;
  width: 100%;
}

#social-link{
  font-size:  2em;
  color: white;
}
#social-link a{
    color:  white;
}


/*Media Queries*/

  /*Small devices (landscape phones, 576px and up)*/
  @media (min-width: 576px) { 
    
  }

  /*Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) { 
    .home-nav{
      display: initial;
    }

  }

  /*Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) { 
    .skillCircle{
      margin-left: 30px;
      text-align: center;
    }
    .center{
      margin: 0 auto;
      width: 70%;
    }
  }

  /*Extra large devices (large desktops, 1200px and up)*/
  @media (min-width: 1200px) { ... }

